@model AirplaneSeatReservation.Models.Reservation
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_WelcomeLayout.cshtml";
}

<section class="section__container booking__container">
    <div class="booking__nav">
        <span>Ekonomi Sınıfı</span>
    </div>
    <p style="color:green; text-align:center; justify-content:center; align-content:center; align-items:center; margin-top:15px; ">@ViewBag.correct</p>
    <p style="color: red; text-align:center; justify-content:center; align-content:center; align-items:center; margin-top:15px; ">@ViewBag.error</p>
    <form action="Welcome" method="post">
        <div class="form__group">
            <span><i class="ri-flight-takeoff-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("İsim").Value</p>
                <div class="input__group">
                    <input type="text" asp-for="PassengerName" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-flight-takeoff-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("Soyisim").Value</p>
                <div class="input__group">
                    <input type="text" asp-for="PassengerSurname" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-flight-takeoff-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("Cinsiyet").Value</p>
                <div class="input__group">
                    <input type="text" asp-for="PassengerGender" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-flight-takeoff-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("Pasaport No").Value</p>
                <div class="input__group">
                    <input type="text" asp-for="PassengerPassportNo" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-flight-takeoff-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("Doğum Tarihi").Value</p>
                <div class="input__group">
                    <input type="date" asp-for="PassengerBirthDate" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-flight-takeoff-line"></i></span>
            <div class="input__content">
                <p>Email</p>
                <div class="input__group">
                    <input type="email" asp-for="PassengerEmail" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-flight-takeoff-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("Nereden").Value</p>
                <div class="input__group">
                    <input type="text" asp-for="DepartureCity" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-flight-land-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("Nereye").Value</p>
                <div class="input__group">
                    <input type="text" asp-for="ArrivalCity" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-calendar-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("Gidiş Tarihi").Value</p>
                <div class="input__group">
                    <input type="date" asp-for="DepartureDate" />
                </div>
            </div>
        </div>
        <div class="form__group">
            <span><i class="ri-calendar-line"></i></span>
            <div class="input__content">
                <p>@_localization.Getkey("Koltuk No").Value</p>
                <div class="input__group">
                    <input type="text" asp-for="SeatNo" />
                </div>
            </div>
        </div>
        <button class="btn3"><i>@_localization.Getkey("Rezervasyon Oluştur").Value</i></button>
    </form>
</section>